* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
   
}


.header {
    min-height: 100vh;
    max-width: 1550px;
    width: 100vw;
    
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    width: auto;
    height: 60px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;

}


.logo img {
    margin-top: 100px;
    opacity: 1.2;

}

.nav-links {
    flex: 1;
    text-align: right;
    color: #f6dfeb;
}

.nav-links {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    opacity: 1.2;
}

.nav-inks ul li a {

    text-decoration: none;
    font-size: 13px;
    opacity: 1.2;
}

.nav-links ul li::after {
    content: "";
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after {
    width: 100%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black solid;
    border: 1px solid black;
    padding: 12px 34px;
    word-spacing: 2px;
    font-size: 13px;
    margin-top: 60px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #f44336;
    transition: 1s;
}


    
@media(max-width:500px) {
    .text-box h1 {
        font-size: 20px;

    }

    .nav-links ul li {
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 300px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 3;
        transition: 1s;
        overflow:hidden;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;

    }
}

.second_nav {
    width: 100%;
    height: 40px;
    padding: 5%;

    display: flex;
    position: center;
    column-gap: 10px;
    white-space: 10px;
    margin-top: 30px;

    list-style: none;
}

.second_nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: 'Indie Flower', cursive;
    font-size: 13px;
    color: #81b214;
}

.second_nav ul li i {
    font-size: 2.7rem;
    color: #ba135d;
    padding: 8px 12px;
    text-align: center;

}

.second_nav ul li p {
    padding: 2px;
    text-align: center;
}

@media(max-width:760px){
    
}
.wrapper {
    position: center;
    display: flex;
    margin-top: 50px;

    width: 100%;
    justify-content: space-around;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card {
    margin: 20px;
    width: 280px;
    margin-top: 60px;
    height: 320px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;

}

.card:hover {
    transform: translateY(20px);
    opacity: 0.7;

}

.card:before {
    content: :"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 1;
}

.card:hover:before {
    opacity: 0.7;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0.7;

}

img:hover {
    opacity: 0.4;
    background-size: cover;
    
}

.container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;

}




.card .info h1 {
    margin: 0;
    position: inherit;
    font-size: 30px;
    color: #21094e;
    cursor: none;
    font-family: 'Rubik Mono One', sans-serif;

}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
   

}

@media(max-width:760px){
    .wrapper{
        
    flex-direction:column;
    margin-left: 30%;
}
}

.wrapper_2 {
    display: flex;
    position: center;
    margin-left: 0;
    width: 100%;
    justify-content: space-around;
}

.card_2 {
    margin: 20px;
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card_2:hover {
    transform: translateY(20px);

}

.card_2:before {
    content: :"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 1;

}

.card_2:hover:before {
    opacity: 1;

}

.card_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card_2 .info_2 {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;


}

.card_2:hover .info_2 {
    opacity: 1;
    transform: translateY(0px);

}

.card_2 .info_2 h2 {
    margin: 0;
    position: inherit;
    font-size: 30px;
    color:#21094e;
    font-family: 'Rubik Mono One', sans-serif;

}

.card_2.info_2 p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card_2 .info_2 .btn_2 {


    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

@media(max-width:760px){
    .wrapper_2{
        
    flex-direction:column;
    margin-left: 30%;
}
}
.second_nav {

    width: 100%;
    height: 40px;
    margin-top: 50px;
    margin-left: 120px;
    list-style: none;
}

.second_nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: 'Mate SC', serif;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
    opacity: 1.2;
}

.second_nav ul li i {
    font-size: 2.7rem;
    margin-top: 10px;
    color: #ba135d;
    margin-left: 120px;
}

.second_nav ul li p {
    margin-top: 15px;
}


@media(max-width:760px){
    .second_nav {

    width: 100%;
    height: 40px;
    margin-top: 50px;
    margin-left: 80px;
    list-style: none;
}

.second_nav ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
    font-family: 'Mate SC', serif;
    font-family: 'Odibee Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #000;
    opacity: 1.2;
}

.second_nav ul li i {
    font-size: 2.7rem;
    margin-top: 10px;
    color: #ba135d;
    margin-left: 120px;
}

.second_nav ul li p {
    margin-top: 15px;
}

}




.social {
    text-align: center;
    margin-top: 30px;
}

.fa {
    padding: 10px;
    font-size: 40px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    opacity: 1.2;
}


.fa-twitter {

    color: black;
}

.fa-instagram {
    color: black;
}

footer {
    text-align: center;
}

.footer-bar {
    padding-top: 10px;
    padding-bottom: 20px;
}

@media(max-width:760px){
    .social{
    margin-top: 60%;
}

    .fa {
    padding: 10px;
    font-size: 40px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    opacity: 1.2;
        margin-top: 290px;
}


.fa-twitter {

    color: black;
}

.fa-instagram {
    color: black;
}
footer {
    text-align: center;
}

.footer-bar {
    padding-top: 30px;
    padding-bottom: 20px;
}

    
}
